# macOS
.DS_Store
*.swp
*.tmp

# Xcode
DerivedData/
build/
Build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
project.xcworkspace/xcuserdata/
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods / Carthage (if used)
Pods/
Carthage/
Carthage/Build/

# dSYM
*.dSYM

# IDEs
.idea/
.vscode/
